#aboutme {
    min-height: calc(100vh - 91px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

#aboutme .section-subtitle {
    font-size: 3rem;
}

#aboutme_chef {
    width: 500px;
    height: auto;
    border-radius: 100%;
}

#aboutme_content {
    width: 50%;
}

#text_aboutme {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.text {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--color-neutral-0);
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.text-content p {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1170px) {
    #aboutme {
        flex-direction: column;
    }

    
    #aboutme_chef {
        display: none;
    }

    #aboutme .section-subtitle {
        text-align: center;
        font-size: 2.5rem;
    }

    #aboutme_content {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    #aboutme .section-subtitle {
        font-size: 2rem;
    }

    #aboutme_content {
        width: 100%;
    }

    .text {
        flex-direction: column;
    }
} 