#aboutme {
    min-height: calc(100vh - 91px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

#aboutme .section-subtitle {
    font-size: 3rem;
}

#aboutme_chef {
    width: 500px;
    height: auto;
    border-radius: 100%;
}

#aboutme_content {
    width: 50%;
}

#text_aboutme {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.text {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--surface-1);
    padding: 12px;
    border-radius: 12px;
    box-shadow: var(--shadow-soft);
}

.text-content p {
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
}

@media screen and (max-width: 1170px) {
    #aboutme {
        flex-direction: column;
    }

    #aboutme_chef {
        display: none;
    }

    #aboutme .section-subtitle {
        text-align: center;
        font-size: 2.5rem;
    }

    #aboutme_content {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    #aboutme .section-subtitle {
        font-size: 2rem;
    }

    #aboutme_content {
        width: 100%;
    }

    .text {
        flex-direction: column;
    }
}