header {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: var(--header-bg);
    z-index: 3;
}

header>nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 50px;
}

header>nav>h1 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
}

header>nav>h1>img {
    font-size: 24px;
    color: var(--color-primary-6);
    width: 105px;
    height: auto;
    object-fit: contain;
}

header>nav>ul {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: var(--nav-link-color);
    font-weight: 600;
}

.nav-item.active a {
    color: var(--text-color);
    border-bottom: 3px solid var(--color-primary-4);
}

#mobile_btn {
    display: none;
    color: var(--text-color);
}

#mobile_btn>i>p {
    display: none;
}

#mobile_menu {
    display: none;
    background-color: var(--header-bg);
}

.font-buttons {
    display: flex;
    gap: 6px;
    align-items: center;
}

.font-buttons button {
    padding: 6px 10px;
    border: none;
    background-color: var(--surface-1);
    color: var(--text-color);
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    transition: 0.2s;
}

.font-buttons button:hover {
    background-color: var(--surface-2);
}

#toggle-theme {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--theme-btn-bg);
    color: var(--theme-btn-text);
    transition: 0.3s;
}

#toggle-theme:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 1170px) {
    header>nav>ul, #navbar .btn-default {
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    }
}




.menuAcessibilidade {
    position: fixed;
    top: 55%;
    right: 0;

    margin-right: 10px;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main-btn {
    margin: 0;
    padding: 0;
    line-height: 0;
}

.main-btn img {
    width: 40px;
    height: 40px;

    display: block;
    cursor: pointer;

    margin: 0;
    padding: 0;

    border: none;
    border-radius: 0;
}

.submenuAcessibilidade {
    position: absolute;
    top: 50px;
    right: 0;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.submenuAcessibilidade button {
    width: 40px;
    height: 40px;

    border: none;
    border-radius: 50%;

    background: #222;
    color: white;

    font-size: 20px;
    cursor: pointer;

    opacity: 0;
    transform: translateY(-20px) scale(0.8);

    pointer-events: none;

    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
}

.menuAcessibilidade.active .submenuAcessibilidade button {
    opacity: 1;
    transform: translateY(0) scale(1);

    pointer-events: auto;
}

.menuAcessibilidade.active .submenuAcessibilidade button:nth-child(1) {
    transition-delay: 0.05s;
}

.menuAcessibilidade.active .submenuAcessibilidade button:nth-child(2) {
    transition-delay: 0.1s;
}

.menuAcessibilidade.active .submenuAcessibilidade button:nth-child(3) {
    transition-delay: 0.15s;
}

.menuAcessibilidade.active .submenuAcessibilidade button:nth-child(4) {
    transition-delay: 0.2s;
}